<div class="container">
    <!--この下はUser info-->
    <div class="row">
        
    </div>
    <!--この下はnew book-->
    <div class="row">
        
    </div>
</div>

<div class="container">
    <div>
        Books
    </div>
    <div>
        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
            
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
