<div class="container w-50 m-auto ">
    <div class="text-left d-flex justify-content-center">
        <h1>welcome to <span><i class="fa-solid fa-book"></i><strong>Bookers</strong></span> !!</h1>
    </div>
    <div class="text-left d-flex justify-content-center">
        <p>
            In <span><i class="fa-solid fa-book"></i><strong>Bookers</strong></span>,<br>
            you can share and exchange your opinions, inpressions, and emotions<br>
            about various books!
        </p>
    </div>
    <div class="row w-50 mx-auto">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-block btn-sm p-0 mb-2 text-white" %>
    </div>
    <div class="row w-50 mx-auto">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-block btn-sm p-0 text-white" %>
    </div>
    
</div>
